[submodule "libraries/CImg"]
	path = libraries/CImg
	url = https://github.com/dtschump/CImg
[submodule "libraries/eigen"]
	path = libraries/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "libraries/googletest"]
	path = libraries/googletest
	url = https://github.com/google/googletest
[submodule "libraries/benchmark"]
	path = libraries/benchmark
	url = https://github.com/google/benchmark
